<!--<h2>Products</h2>-->
<!--<div *ngFor="let prod of product">-->
<!--  <h3>-->
<!--    <a [title]="prod.name">-->
<!--      {{ prod.name}}<br>-->
<!--    </a>-->
<!--    {{ prod.price}}<br>-->
<!--    {{ prod.description}}<br>-->
<!--  </h3>-->

<!--</div>-->



<div class="cart" *ngFor="let product of product; index as productId" >
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products',
productId]">
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">
    Description : {{product.description}}
  </p>
  <button (click)="share()" class="mr-4">Share</button>
  <app-product-alert [product]="product" (notify)="notificationparent()" ></app-product-alert>
  <!-- . . . -->
</div>
